ul {
    list-style-type: none;
    background-color: #333333;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
li a:hover{
   background-color: #111111;
}
li {
    float:left;
    
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.img {
    background-color: #ff8533;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}